<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
  <section class="d-flex justify-content-between p-4 text-white" style="background-color: #21D192">
    <div class="me-5">
      <span>Welcome to Kalpvriksha Transportation :</span>
    </div>
    <div class="me-5" style="font-size: 20px;">
      <i class="bi bi-whatsapp p-2"></i>
      <i class="bi bi-instagram p-2"></i>
      <i class="bi bi-facebook p-2"></i>
      <i class="bi bi-twitter p-2"></i>
      <i class="bi bi-telegram p-2"></i>
    </div>
  </section>
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">About Company</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>You can be completely assured of availing the safe and faster services, where by ensuring that the goods get delivered to you in the safe condition.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Our Services</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p><%= link_to "Home", root_path, class:"nav-link" %></p>
          <p><%= link_to "What we do", about_us_path, class:"nav-link" %></p>
          <p><%= link_to "Services", service_path, class:"nav-link" %></p>
          <p><%= link_to "Contact us", contact_us_path, class:"nav-link" %></p>
        </div>
        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p><%= link_to "Sign-In", new_user_session_path, class:"nav-link" %></p>
          <p><%= link_to "Sign-Up", new_user_registration_path, class: "nav-link" %></p>
          <p><%= link_to "Images", root_path, class:"nav-link" %></p>
          <p><%= link_to "Feedback", root_path, class:"nav-link" %></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p><i class="bi bi-geo-alt-fill"></i> LIG Square, Indore, Madhya Pradesh</p>
          <p><i class="fas fa-envelope mr-3"></i> kalpvrikshatransportation@gmail.com</p>
          <p><i class="bi bi-telephone-fill"></i> +919977712345</p>
          <p><i class="bi bi-telephone-fill"></i> +919111198765</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <%= link_to "kalpvrikshatransportation.com", root_path, class:"text-dark" %>
  </div>
</footer>