<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
<center>
	<div class="col-md-12">   
 		<div class="row justify-content-center">
 		  <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 ">
        <div class="row">
    			<div class="receipt-header">
						<div class="col-xs-6 col-sm-6 col-md-6 text-right">
							<div class="receipt-right">
								<h5>Company Name.</h5>
								<p>0733-8884738<i class="fa fa-phone"></i></p>
								<p>kalpvrikshatransportation@gmail.com <i class="fa fa-envelope-o"></i></p>
								<p>Indore, INDIA<i class="fa fa-location-arrow"></i></p>
							</div>
						</div>
					</div>
        </div>
				<div class="row">
					<div class="receipt-header receipt-header-mid">
						<div class="col-xs-8 col-sm-8 col-md-8 text-left">
							<div class="receipt-right">
								<h5>Customer Details:</h5>
								<p><b>Name :</b> <%= current_user.name %></p>
								<p><b>Mobile :</b> <%= current_user.contact %></p>
								<p><b>Email :</b> <%= current_user.email %></p>
							</div>
						</div><br>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<div class="receipt-left">
								<h3>INVOICE</h3>
							</div>
						</div>
					</div>
        </div>
				<div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Items_Name</th>
                <th>Item_Weight</th>
                <th>Item_Size</th>
                <th>Ammount</th>
              </tr>
            </thead>
          	<tbody>
              <tr>
								<% @booking.items.each do |item| %>
	                <td class="col-md-9"><%= item.item_name %></td>
	                <td class="col-md-9"><%= item.item_weight %></td>
	                <td class="col-md-9"><%= item.item_size	 %></td>
            	</tr>
 	              <% end %>
              <tr>
                <td class="text-right">
                	<p>
	                  <strong>Distance: </strong>
	                </p>
	                <p>
	                  <strong>Total Amount: </strong>
	                </p>
								</td>
								<td></td>
								<td></td>
                <td>
                	<p>
                    <strong><i class="fa fa-inr"></i> 100/-</strong>
                  </p>
                  <p>
                    <strong><i class="fa fa-inr"></i> 3,000/-</strong>
                  </p>
								</td>
              </tr>
            </tbody>
          </table>
        </div>
				<div class="row">
					<div class="receipt-header receipt-header-mid receipt-footer">
						<div class="col-xs-8 col-sm-8 col-md-8 text-left">
							<div class="receipt-right">
								<p><b>Date :</b> <%= Time.new() %></p>
								<h5 style="color: rgb(140, 140, 140);">Thanks for Booking</h5>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</center>