<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_importmap_tags %>
    <title>Kalpvriksha Transportation System</title>
  </head>
  <body>
  <%= render "partials/header" %>
  <%= yield %>
  <%= render "partials/footer" %>
  </body>
</html>